/*GENERAL*/

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html, body{
	height:100%;
}

body{
	line-height: 1.5;
	font-family:Arial, Helvetica, sans-serif;
	color:black;
	font-size:1em;
	display:flex;
	flex-direction:column;
}
/*used to push the footer down*/
main{
	flex:1;
}

/*HEADER*/

.header{
	background-color:#BE1622;
	color:white;
	display:flex;
	position:sticky;
	top:0;
	padding:0.8em 2.5em;
	z-index:1000; /*everything is pushed forward*/
	align-items:center;
	justify-content:space-between;
}

.header-left{
	display:flex;
	align-items:center;
	gap:1em;
}

.uclan-logo{
	height:3em;
}

.page-title{
	font-size:1.4em;
	font-weight:600;
}

.header-nav{
	display:flex;
	gap:1.5em;
}

.header-nav a{
	color:white;
	text-decoration:none;
	font-size:1em;
}

.header-nav a:hover{
	text-decoration:none;
	color:#C7CBDA;
}

.desktop-nav{
	display:flex;
	gap:2em;
}

.mobile-nav{
	display:none;
	background-color:#C7CBDA;
	width:100%;
	padding:0.75em 1.25em;
}

.mobile-nav a{
	color:#BE1622;
	text-decoration:none;
	margin-right:2em;
	font-size:0.9em;
}

.mobile-nav a:hover{
	text-decoration:underline;
}

.mobile-nav.show{
	display:block;
}

/*HAMBURGER BUTTON*/
.hamburger{
	display:none;
	flex-direction:column;
	gap:0.25em;
	cursor:pointer;
}

.hamburger span{
	height:0.2em;
	width:1.5em;
	background-color:#34516C;
}

/*FOOTER*/

.footer{
	background-color:#34516C;
	color:white;
	display:flex;
	justify-content:space-between;
	padding:1.5em 2.5em;
	flex-wrap:wrap;
	width:100%;
}

.footer div{
	margin-bottom:0.6em;
}

.footer h3{
	font-size:1.2em;
	margin-bottom:0.5em;
}

.footer a{
	color:white;
	text-decoration:none;
}

.footer a:hover{
	text-decoration:underline;
}

/*HOME PAGE*/

.home-main{
	max-width:60em;
	margin:2.5em auto 3.75em;
	padding:0 1.25em;
	background-color:white;
}

.intro-text{
	margin-bottom:1.5em;
}

.home-heading{
	font-size:2em;
	margin-bottom:1em;
	color:#007FB0;
}

.intro-text p{
	margin-bottom:0.6em;
}

.main-video,
.main-iframe{
	margin-bottom:1.3em;
}

.video-heading,
.iframe-heading{
	font-size:1.4em;
	color:#F2BE1A;
	margin-bottom:1em;
}

.video,
.iframe{
	position:relative;
	width:100%;
	padding-top:56.25%;
	background-color:#000000;
}

.video video,
.iframe iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
